
android/local.properties
android/gradlew.bat
android/gradlew
android/gradle/wrapper/gradle-wrapper.jar
android/build/outputs/logs/manifest-merger-debug-report.txt
android/build/outputs/apk/debug/output.json
android/build/outputs/apk/debug/android-debug.apk
android/build/intermediates/transforms/mergeJniLibs/debug/__content__.json
android/build/intermediates/transforms/mergeJniLibs/debug/0/lib/x86_64/libtensorflow_inference.so
android/build/intermediates/transforms/mergeJniLibs/debug/0/lib/x86_64/libtensorflow_demo.so
android/build/intermediates/transforms/mergeJniLibs/debug/0/lib/x86/libtensorflow_inference.so
android/build/intermediates/transforms/mergeJniLibs/debug/0/lib/x86/libtensorflow_demo.so
android/build/intermediates/transforms/mergeJniLibs/debug/0/lib/armeabi-v7a/libtensorflow_inference.so
android/build/intermediates/transforms/mergeJniLibs/debug/0/lib/armeabi-v7a/libtensorflow_demo.so
android/build/intermediates/transforms/mergeJniLibs/debug/0/lib/arm64-v8a/libtensorflow_inference.so
android/build/intermediates/transforms/mergeJniLibs/debug/0/lib/arm64-v8a/libtensorflow_demo.so
android/build/intermediates/transforms/mergeJavaRes/debug/__content__.json
android/build/intermediates/transforms/mergeJavaRes/debug/0.jar
android/build/intermediates/transforms/externalLibsDexMerger/debug/__content__.json
android/build/intermediates/transforms/externalLibsDexMerger/debug/0/classes.dex
android/build/intermediates/transforms/dexMerger/debug/__content__.json
android/build/intermediates/transforms/dexMerger/debug/0/classes.dex
android/build/intermediates/transforms/dexBuilder/debug/__content__.json
android/build/intermediates/transforms/dexBuilder/debug/3/tensorflow/contrib/android/R.dex
android/build/intermediates/transforms/dexBuilder/debug/3/org/tensorflow/demo/StylizeActivity.dex
android/build/intermediates/transforms/dexBuilder/debug/3/org/tensorflow/demo/StylizeActivity$ImageSlider.dex
android/build/intermediates/transforms/dexBuilder/debug/3/org/tensorflow/demo/StylizeActivity$ImageGridAdapter.dex
android/build/intermediates/transforms/dexBuilder/debug/3/org/tensorflow/demo/StylizeActivity$ImageGridAdapter$4.dex
android/build/intermediates/transforms/dexBuilder/debug/3/org/tensorflow/demo/StylizeActivity$ImageGridAdapter$3.dex
android/build/intermediates/transforms/dexBuilder/debug/3/org/tensorflow/demo/StylizeActivity$ImageGridAdapter$2.dex
android/build/intermediates/transforms/dexBuilder/debug/3/org/tensorflow/demo/StylizeActivity$ImageGridAdapter$1.dex
android/build/intermediates/transforms/dexBuilder/debug/3/org/tensorflow/demo/StylizeActivity$3.dex
android/build/intermediates/transforms/dexBuilder/debug/3/org/tensorflow/demo/StylizeActivity$2.dex
android/build/intermediates/transforms/dexBuilder/debug/3/org/tensorflow/demo/StylizeActivity$1.dex
android/build/intermediates/transforms/dexBuilder/debug/3/org/tensorflow/demo/R.dex
android/build/intermediates/transforms/dexBuilder/debug/3/org/tensorflow/demo/R$styleable.dex
android/build/intermediates/transforms/dexBuilder/debug/3/org/tensorflow/demo/R$style.dex
android/build/intermediates/transforms/dexBuilder/debug/3/org/tensorflow/demo/R$string.dex
android/build/intermediates/transforms/dexBuilder/debug/3/org/tensorflow/demo/R$layout.dex
android/build/intermediates/transforms/dexBuilder/debug/3/org/tensorflow/demo/R$id.dex
android/build/intermediates/transforms/dexBuilder/debug/3/org/tensorflow/demo/R$drawable.dex
android/build/intermediates/transforms/dexBuilder/debug/3/org/tensorflow/demo/R$dimen.dex
android/build/intermediates/transforms/dexBuilder/debug/3/org/tensorflow/demo/R$color.dex
android/build/intermediates/transforms/dexBuilder/debug/3/org/tensorflow/demo/R$attr.dex
android/build/intermediates/transforms/dexBuilder/debug/3/org/tensorflow/demo/OverlayView.dex
android/build/intermediates/transforms/dexBuilder/debug/3/org/tensorflow/demo/OverlayView$DrawCallback.dex
android/build/intermediates/transforms/dexBuilder/debug/3/org/tensorflow/demo/env/Size.dex
android/build/intermediates/transforms/dexBuilder/debug/3/org/tensorflow/demo/env/Logger.dex
android/build/intermediates/transforms/dexBuilder/debug/3/org/tensorflow/demo/env/ImageUtils.dex
android/build/intermediates/transforms/dexBuilder/debug/3/org/tensorflow/demo/env/BorderedText.dex
android/build/intermediates/transforms/dexBuilder/debug/3/org/tensorflow/demo/CameraConnectionFragment.dex
android/build/intermediates/transforms/dexBuilder/debug/3/org/tensorflow/demo/CameraConnectionFragment$ErrorDialog.dex
android/build/intermediates/transforms/dexBuilder/debug/3/org/tensorflow/demo/CameraConnectionFragment$ErrorDialog$1.dex
android/build/intermediates/transforms/dexBuilder/debug/3/org/tensorflow/demo/CameraConnectionFragment$ConnectionCallback.dex
android/build/intermediates/transforms/dexBuilder/debug/3/org/tensorflow/demo/CameraConnectionFragment$CompareSizesByArea.dex
android/build/intermediates/transforms/dexBuilder/debug/3/org/tensorflow/demo/CameraConnectionFragment$5.dex
android/build/intermediates/transforms/dexBuilder/debug/3/org/tensorflow/demo/CameraConnectionFragment$4.dex
android/build/intermediates/transforms/dexBuilder/debug/3/org/tensorflow/demo/CameraConnectionFragment$3.dex
android/build/intermediates/transforms/dexBuilder/debug/3/org/tensorflow/demo/CameraConnectionFragment$2.dex
android/build/intermediates/transforms/dexBuilder/debug/3/org/tensorflow/demo/CameraConnectionFragment$1.dex
android/build/intermediates/transforms/dexBuilder/debug/3/org/tensorflow/demo/CameraActivity.dex
android/build/intermediates/transforms/dexBuilder/debug/3/org/tensorflow/demo/CameraActivity$1.dex
android/build/intermediates/transforms/dexBuilder/debug/3/org/tensorflow/demo/BuildConfig.dex
android/build/intermediates/transforms/dexBuilder/debug/3/org/tensorflow/demo/AutoFitTextureView.dex
android/build/intermediates/transforms/dexBuilder/debug/2.jar
android/build/intermediates/transforms/dexBuilder/debug/1.jar
android/build/intermediates/transforms/dexBuilder/debug/0.jar
android/build/intermediates/symbols/debug/R.txt
android/build/intermediates/splits-support/debug/split-list/split-list.gson
android/build/intermediates/splits-support/debug/apk-list/apk-list.gson
android/build/intermediates/res/symbol-table-with-package/debug/package-aware-r.txt
android/build/intermediates/res/merged/debug/values_values.arsc.flat
android/build/intermediates/res/merged/debug/values-v21_values-v21.arsc.flat
android/build/intermediates/res/merged/debug/values-v14_values-v14.arsc.flat
android/build/intermediates/res/merged/debug/values-v11_values-v11.arsc.flat
android/build/intermediates/res/merged/debug/values-sw600dp-v13_values-sw600dp-v13.arsc.flat
android/build/intermediates/res/merged/debug/layout_camera_connection_fragment_stylize.xml.flat
android/build/intermediates/res/merged/debug/layout_activity_camera.xml.flat
android/build/intermediates/res/merged/debug/drawable-xxhdpi_ic_launcher.png.flat
android/build/intermediates/res/merged/debug/drawable-xxhdpi_ic_action_info.png.flat
android/build/intermediates/res/merged/debug/drawable-xhdpi_ic_launcher.png.flat
android/build/intermediates/res/merged/debug/drawable-xhdpi_ic_action_info.png.flat
android/build/intermediates/res/merged/debug/drawable-mdpi_ic_launcher.png.flat
android/build/intermediates/res/merged/debug/drawable-mdpi_ic_action_info.png.flat
android/build/intermediates/res/merged/debug/drawable-hdpi_tile.9.png.flat
android/build/intermediates/res/merged/debug/drawable-hdpi_ic_launcher.png.flat
android/build/intermediates/res/merged/debug/drawable-hdpi_ic_action_info.png.flat
android/build/intermediates/res/debug/resources-debug.ap_
android/build/intermediates/res/debug/output.json
android/build/intermediates/manifests/instant-run/debug/output.json
android/build/intermediates/manifests/full/debug/output.json
android/build/intermediates/manifests/full/debug/AndroidManifest.xml
android/build/intermediates/manifests/density/debug/output.json
android/build/intermediates/jniLibs/debug/x86_64/libtensorflow_demo.so
android/build/intermediates/jniLibs/debug/x86/libtensorflow_demo.so
android/build/intermediates/jniLibs/debug/armeabi-v7a/libtensorflow_demo.so
android/build/intermediates/jniLibs/debug/arm64-v8a/libtensorflow_demo.so
android/build/intermediates/javaPrecompile/debug/annotationProcessors.json
android/build/intermediates/incremental/packageDebug/tmp/debug/zip-cache/QjxEG7qnSfUgInM2Wtn6CZHAmPA=
android/build/intermediates/incremental/packageDebug/tmp/debug/file-input-save-data.txt
android/build/intermediates/incremental/packageDebug/tmp/debug/dex-renamer-state.txt
android/build/intermediates/incremental/mergeDebugShaders/merger.xml
android/build/intermediates/incremental/mergeDebugResources/merger.xml
android/build/intermediates/incremental/mergeDebugResources/compile-file-map.properties
android/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
android/build/intermediates/incremental/mergeDebugAssets/merger.xml
android/build/intermediates/incremental/debug-mergeJniLibs/zip-cache/owG50HmxW0Y_1ZpANRvM5XUMpRE=
android/build/intermediates/incremental/debug-mergeJniLibs/merge-state
android/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/owG50HmxW0Y_1ZpANRvM5XUMpRE=
android/build/intermediates/incremental/debug-mergeJavaRes/merge-state
android/build/intermediates/incremental/compileDebugAidl/dependency.store
android/build/intermediates/classes/debug/tensorflow/contrib/android/R.class
android/build/intermediates/classes/debug/org/tensorflow/demo/StylizeActivity.class
android/build/intermediates/classes/debug/org/tensorflow/demo/StylizeActivity$ImageSlider.class
android/build/intermediates/classes/debug/org/tensorflow/demo/StylizeActivity$ImageGridAdapter.class
android/build/intermediates/classes/debug/org/tensorflow/demo/StylizeActivity$ImageGridAdapter$4.class
android/build/intermediates/classes/debug/org/tensorflow/demo/StylizeActivity$ImageGridAdapter$3.class
android/build/intermediates/classes/debug/org/tensorflow/demo/StylizeActivity$ImageGridAdapter$2.class
android/build/intermediates/classes/debug/org/tensorflow/demo/StylizeActivity$ImageGridAdapter$1.class
android/build/intermediates/classes/debug/org/tensorflow/demo/StylizeActivity$3.class
android/build/intermediates/classes/debug/org/tensorflow/demo/StylizeActivity$2.class
android/build/intermediates/classes/debug/org/tensorflow/demo/StylizeActivity$1.class
android/build/intermediates/classes/debug/org/tensorflow/demo/R.class
android/build/intermediates/classes/debug/org/tensorflow/demo/R$styleable.class
android/build/intermediates/classes/debug/org/tensorflow/demo/R$style.class
android/build/intermediates/classes/debug/org/tensorflow/demo/R$string.class
android/build/intermediates/classes/debug/org/tensorflow/demo/R$layout.class
android/build/intermediates/classes/debug/org/tensorflow/demo/R$id.class
android/build/intermediates/classes/debug/org/tensorflow/demo/R$drawable.class
android/build/intermediates/classes/debug/org/tensorflow/demo/R$dimen.class
android/build/intermediates/classes/debug/org/tensorflow/demo/R$color.class
android/build/intermediates/classes/debug/org/tensorflow/demo/R$attr.class
android/build/intermediates/classes/debug/org/tensorflow/demo/OverlayView.class
android/build/intermediates/classes/debug/org/tensorflow/demo/OverlayView$DrawCallback.class
android/build/intermediates/classes/debug/org/tensorflow/demo/env/Size.class
android/build/intermediates/classes/debug/org/tensorflow/demo/env/Logger.class
android/build/intermediates/classes/debug/org/tensorflow/demo/env/ImageUtils.class
android/build/intermediates/classes/debug/org/tensorflow/demo/env/BorderedText.class
android/build/intermediates/classes/debug/org/tensorflow/demo/CameraConnectionFragment.class
android/build/intermediates/classes/debug/org/tensorflow/demo/CameraConnectionFragment$ErrorDialog.class
android/build/intermediates/classes/debug/org/tensorflow/demo/CameraConnectionFragment$ErrorDialog$1.class
android/build/intermediates/classes/debug/org/tensorflow/demo/CameraConnectionFragment$ConnectionCallback.class
android/build/intermediates/classes/debug/org/tensorflow/demo/CameraConnectionFragment$CompareSizesByArea.class
android/build/intermediates/classes/debug/org/tensorflow/demo/CameraConnectionFragment$5.class
android/build/intermediates/classes/debug/org/tensorflow/demo/CameraConnectionFragment$4.class
android/build/intermediates/classes/debug/org/tensorflow/demo/CameraConnectionFragment$3.class
android/build/intermediates/classes/debug/org/tensorflow/demo/CameraConnectionFragment$2.class
android/build/intermediates/classes/debug/org/tensorflow/demo/CameraConnectionFragment$1.class
android/build/intermediates/classes/debug/org/tensorflow/demo/CameraActivity.class
android/build/intermediates/classes/debug/org/tensorflow/demo/CameraActivity$1.class
android/build/intermediates/classes/debug/org/tensorflow/demo/BuildConfig.class
android/build/intermediates/classes/debug/org/tensorflow/demo/AutoFitTextureView.class
android/build/intermediates/blame/res/debug/single/debug.json
android/build/intermediates/blame/res/debug/multi-v2/values.json
android/build/intermediates/blame/res/debug/multi-v2/values-v21.json
android/build/intermediates/blame/res/debug/multi-v2/values-v14.json
android/build/intermediates/blame/res/debug/multi-v2/values-v11.json
android/build/intermediates/blame/res/debug/multi-v2/values-sw600dp-v13.json
android/build/intermediates/blame/res/debug/multi-v2/debug.json
android/build/intermediates/assets/debug/test.pb
android/build/generated/source/r/debug/tensorflow/contrib/android/R.java
android/build/generated/source/r/debug/org/tensorflow/demo/R.java
android/build/generated/source/buildConfig/debug/org/tensorflow/demo/BuildConfig.java
android/android.iml
android/.idea/workspace.xml
android/.idea/runConfigurations.xml
android/.idea/modules.xml
android/.idea/misc.xml
android/.idea/libraries/Gradle__org_tensorflow_tensorflow_android_1_10_0.xml
android/.idea/gradle.xml
android/.idea/codeStyles/Project.xml
android/.idea/caches/build_file_checksums.ser
android/.gradle/buildOutputCleanup/outputFiles.bin
android/.gradle/buildOutputCleanup/cache.properties
android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
android/.gradle/4.4/taskHistory/taskHistory.lock
android/.gradle/4.4/taskHistory/taskHistory.bin
android/.gradle/4.4/javaCompile/taskJars.bin
android/.gradle/4.4/javaCompile/taskHistory.bin
android/.gradle/4.4/javaCompile/javaCompile.lock
android/.gradle/4.4/javaCompile/jarAnalysis.bin
android/.gradle/4.4/javaCompile/classAnalysis.bin
android/.gradle/4.4/fileHashes/resourceHashesCache.bin
android/.gradle/4.4/fileHashes/fileHashes.lock
android/.gradle/4.4/fileHashes/fileHashes.bin
android/.gradle/4.4/fileContent/fileContent.lock
android/.gradle/4.4/fileChanges/last-build.bin
